/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#laden {
  /*height: 90%;*/
  /*display: block;*/
  /*width: 78%;*/
  max-width: 498.75px;
}

#contact {
  margin: 5% 38%;
  color: black;
}

.card{
  text-align: center;
  margin-bottom: 1vw;
  border: none;
  /*display: flex;*/
}

.card img {
  width: 100%;
  max-height: 400px;
}

#timpa {
  /*height: 90%;*/
  max-width: 529px;
  width: 102%
}

#comeSoon {
  /*background-color: green;*/
  margin: auto 0;
  text-align: center;
}

#soonBack {
  padding-top: 6vw;
}

@media screen and (max-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/
    body {
        /*background-color: yellow;*/
        width: 100%;
    }

    .nav-link {
      color: black;
      font-size: 75%;
      font-weight: 500;
      font-style: bold;
    }

    .imgHolder img {
      object-fit:  scale-down;
      padding-top: 2vw;
      margin-bottom: 1vw;
    }

    #contact {
      margin: auto 10%;
      color: black;
    }

    .navbar .nav {
      margin: 0;
      display: block;
      width: 100%;
      padding-bottom: 35px;
    }

}
